<div class="content-body">
    <h4>Email Me @ ajay.chaurasia29@gmail.com</h4>
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
        data-type="VERTICAL" data-vanity="ajay-chaurasia-a8bb71124" data-version="v1"><a
            class="badge-base__link LI-simple-link"
            href="https://in.linkedin.com/in/ajay-chaurasia-a8bb71124?trk=profile-badge">Ajay Chaurasia</a></div>
    <a class="github-button" href="https://github.com/ajay-chaurasia"
        data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large"
        aria-label="Follow @ajay-chaurasia on GitHub">Follow @ajay-chaurasia</a>
    <a href="https://twitter.com/AjayChaurasia29?ref_src=twsrc%5Etfw" class="twitter-follow-button"
        data-show-count="false">Follow @AjayChaurasia29</a>
</div>