<div class="content-body">
    <mat-card class="intro-card">
        <img src="../../../assets/me.jpg" alt="Not Found" class="display-picture" />
        <div>
            <ul>
                <li><h2>Hi! I'm <span>Ajay Chaurasia</span></h2></li>
                <li>I'm a FrontEnd Developer with experience on <span>Angular</span> and <span>ReactJS</span>!</li>
                <li>Currently employed as <span>Senior Software Engineer</span> at <span>GE Power.</span></li>
                <li>I welcome you to explore my work, use some apps and play some games. Have fun!</li>
            </ul>
        </div>
    </mat-card>
</div>