.content-body {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.card {
    margin: 2em 2em 0 2em;
    display: flex;
    background-color: gold;

    span {
        font-weight: bold;
    }

    div {
        display: flex;
        align-items: center;
    }
}

.card:nth-child(2) {
    background-color: skyblue;
}

.card:nth-child(3) {
    background-color: rgb(230, 126, 230);
}

.card:nth-child(4) {
    background-color: orange;
}

.display-picture {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0 1rem grey;
}

@media(max-width: 750px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}